.Description {
    width: 100%;
    max-width: 2000px;
    height: auto;
    min-height: 700px;
    display: flex;
    background-color: #FBF8CC;
    align-items: center;
    padding: 2rem 10rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.txt3 {
    font-size: 28px;
    color: #03045E;
    padding: 5px;
}

.txt4 {
    color: #03045E;
    padding: 8px;
    font-size: 5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.foto {
    width: 100%;
    max-width: 506px;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: 3px solid black;
    overflow: hidden;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Media Queries */
@media (max-width: 1200px) {
    .Description {
        padding: 2rem 5rem;
    }
}

@media (max-width: 1024px) {
    .Description {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
        padding: 2rem;
    }
    .txt4 {
        font-size: 4rem;
    }
}

@media (max-width: 768px) {
    .txt3 {
        font-size: 1.5rem;
    }
    .txt4 {
        font-size: 3rem;
    }
}