.panel2 {
    width: 2000px;
    height: 1945px;
    background-color: #FBF8CC;
    padding: 0 10rem;
}

.txt7 {
    font-size:100px;
    font-weight: 800;
    color: #F7F197;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 5rem;
}

.cuadros {
    display: grid;
    grid-template-columns: 600px 600px 600px;
    grid-template-rows: 600px 600px 600px;
    width: 200px;
    height: 200px;
}

.cuadros img {
    width: 560px;
    height: 400px;
    border-radius: 3rem;
}

.cuadro1,
.cuadro2,
.cuadro3,
.cuadro4,
.cuadro5 {
    width: 560px;
    height: 400px;
    position: relative;
}

.cuadro2 {
    top: 50rem;
}

.cuadro4,
.cuadro5{
top: 40rem;
}
.cuadro5{
    left: 60rem;
}


